---
layout: default
title: Photo Gallery
headerText: <p class="page-header-text">Photo Gallery</p>
permalink: /gallery
---
<div class="center-flex">
    <p class="body-text body-text-max-width">
        Please enjoy looking through our photo gallery, which displays the exceptional quality of Don's work and the satisfaction you can expect with your Springhetti Custom Home.
    </p>
</div>
<div class="display-photos" id="display-photos">
    {% for item in site.data.gallery-images %}
        <div class="display-photo-container">
            <img class="display-photo" src="{{ item.path }}" />
        </div>
    {% endfor %}
    <div class="display-photo-buttons">
        <div class="button-container">
            <button class="image-button" onclick="prevImage()"><span>&#60;</span></button>
        </div>
        <div class="button-container">
            <button class="image-button" onclick="nextImage()"><span>&#62;</span></button>
        </div>
    </div>
</div>

<div class="gallery-photos">
    <button class="image-button" onclick="prevVisibleRange()"><span>&#60;</span></button>
    <div class="photos-container">
        {% for item in site.data.gallery-images %}
            <div>
                <img class="gallery-photo" src="{{ item.path }}" onclick="setImage({{ forloop.index0 }})" />
            </div>
        {% endfor %}
    </div>
    <button class="image-button" onclick="nextVisibleRange()"><span>&#62;</span></button>
</div>

<script src="/assets/js/gallery_image_display.js"></script>
