.home-slideshow-container {
    max-width: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 1;
}

.home-slide {
    overflow: hidden;
}

.home-image {
    height: 500px;
}

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {opacity:0.25;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0.25;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0.25;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0.25;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0.25;}
    100% {opacity:1;}
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #717171
}
